footer {
  width: 100%;
  position: fixed;
  bottom: 0;
  background-color: #f8f9fa;
  align-items: center;
  display: block;
  text-align: left;
  width: 100%;
  padding: 10px;
}

@media screen and (min-width: 992px){
  footer{
    width: 100%;
    position: fixed;
    bottom: 0;
    background-color: #f8f9fa;
    align-items: center;
    display: block;
    text-align: center;
    width: 100%;
    padding: 10px;
    left: 180px;
    z-index: -1;
  }
}
