<div class="modal fade" #userEdit id="userEdit" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="userEditTitle">Edit user account information</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form *ngIf="activeForm" (ngSubmit)="updateUserAccountInformation()" #userEditForm="ngForm">
          <div class="form-group">
            <label for="firstName" class="col-form-label">First Name:</label>
            <input type="text" class="form-control" id="firstName" name="firstName" [(ngModel)]="userAccount.firstName" required>
          </div>
          <div class="form-group">
            <label for="lastName" class="col-form-label">Last Name:</label>
            <input type="text" class="form-control" id="lastName" name="lastName" [(ngModel)]="userAccount.lastName" required>
          </div>
          <div class="form-group">
            <label for="email" class="col-form-label">Email:</label>
            <input type="text" class="form-control" id="email" name="email" [(ngModel)]="userAccount.email" required>
          </div>
          <div class="form-group">
            <label for="username" class="col-form-label">Username:</label>
            <input type="text" class="form-control" id="username" name="username" [(ngModel)]="userAccount.username" required>
          </div>
          <div class="form-group">
            <label for="password" class="col-form-label">Password:</label>
            <input type="password" class="form-control" id="password" name="password" [(ngModel)]="userAccount.password" required>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
            <button type="submit" [disabled]="!userEditForm.form.valid" class="btn btn-primary">Save</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<swal
  #editUserConfirmation
  title="User information has been updated with success."
  timer="1500"
  type="success"
  [showConfirmButton]="false">
</swal> 
