.navbar-dropdown {
  left: -80px;
  top: 50px;
}

.navbar {
  padding: 0px;
  height: 58px;
  background: #fff;
  box-shadow: 0 0 11px rgba(0,0,0,0.13);
}

.navbar-brand {
  background: #404e67;
  align-items: center;
  display: block;
  text-align: center;
  width: 280px;
  margin: 0;
  height: 100%;
}

.navbar-brand > a {
  color: white;
  font-family: Poppins-Regular;
  font-size: 28px;
  font-weight: 500;
  letter-spacing: 1px;
  text-decoration: none;
}