<div class="sidebar-wrapper">
  <div class="nav-section-title">Grow</div>
  <ul class="nav flex-column">
    <li class="nav-item">
      <a routerLink="/dashboard/home" routerLinkActive="active-link" class="nav-link nav-menu-item">
        <span class="nav-menu-icon"><i class="fas fa-home"></i></span>
        <span >Dashboard</span>
      </a>
    </li>
    <li class="nav-item">
      <a routerLink="/dashboard/analyze" routerLinkActive="active-link" class="nav-link nav-menu-item">
        <span class="nav-menu-icon"><i class="fas fa-chart-line"></i></span>
        <span>Analyze</span>
      </a>
    </li>
    <li class="nav-item">
      <a routerLink="/dashboard/insights" routerLinkActivate="activate-link" class="nav-link nav-menu-item">
        <span class="nav-menu-icon"><i class="fas fa-sitemap"></i></span>
        <span>Insights</span>
      </a>
    </li>
    <li class="nav-item">
      <a routerLink="/dashboard/show-case" routerLinkActivate="activate-link" class="nav-link nav-menu-item">
        <span class="nav-menu-icon"><i class="fas fa-video"></i></span>
        <span>Show case</span>
      </a>
    </li>
  </ul>
  <div class="nav-section-title">Manage</div>
  <ul class="nav flex-column">
    <li class="nav-item">
      <a routerLink="/dashboard/planner" routerLinkActive="active-link" class="nav-link nav-menu-item">
        <span class="nav-menu-icon"><i class="far fa-edit"></i></span>
        <span>Plan</span>
      </a>
    </li>
    <li class="nav-item">
      <a routerLink="/dashboard/schedule" routerLinkActive="active-link" class="nav-link nav-menu-item">
        <span class="nav-menu-icon"><i class="fas fa-calendar-alt"></i></span>
        <span>Schedule</span>
      </a>
    </li>
    <li class="nav-item">
      <a routerLink="/dashboard/users" routerLinkActive="active-link" class="nav-link nav-menu-item">
        <span class="nav-menu-icon"><i class="fas fa-users"></i></span>
        <span>Users accounts</span>
      </a>
    </li>
    <li class="nav-item">
      <a routerLink="/dashboard/ai-models" routerLinkActive="active-link" class="nav-link nav-menu-item">
        <span class="nav-menu-icon"><i class="far fa-play-circle"></i></span>
        <span>AI Models</span>
      </a>
    </li>
  </ul>
  <div class="nav-section-title">Knowledge library</div>
  <ul class="nav flex-column">
      <li class="nav-item">
        <a routerLink="/dashboard/plan" routerLinkActive="active-link" class="nav-link nav-menu-item">
          <span class="nav-menu-icon"><i class="far fa-newspaper"></i></span>
          <span>Blog</span>
        </a>
      </li>
      <li class="nav-item">
        <a routerLink="/dashboard/books" routerLinkActive="active-link" class="nav-link nav-menu-item">
          <span class="nav-menu-icon"><i class="fas fa-book"></i></span>
          <span>Books</span>
        </a>
      </li>
    </ul>
</div>
